body{
    background: #0e0e0e;
    color: #9ba3b4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body p{
    line-height: 160%;
}

/* Header */
nav{
    border-bottom: 1px solid rgb(255, 255, 255, 0.12);
    background-color: #0e0e0e;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;  
}

.menu-left{
    display: flex;
    align-items: center;
    /* background-color: red; */
    
}

#logo-name{
    font-size: 20px;
    font-weight: 600;
    color: #e9eaeb;
    margin-left: 10px;
}
.menu-options{
    /* background-color: aqua; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.menu-options li {
    padding-left: 12px;
    padding-right: 12px;
}
.menu-options li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #9ba3b4;
}
.menu-options li a:hover{
    color: #e9eaeb;
}

.menu-right{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.theme-switch{
    background-color: transparent;
    border: none;
    margin-right: 4px;
}

.searchbar{
    display: flex;
    border: 1px solid rgb(255, 255, 255, 0.15);
    padding: 5px 12px;
    border-radius: 4px;
}

input#search-bar{
    background: none;
    border: none;
    color: #e9eaeb;
    font-size: 14px;
    margin-left: 8px;
    margin-right: -30px;
}
#search-bar::placeholder{
    color:#9ba3b4;
    font-weight: 100;
    font: inherit;
}

#search-bar:focus{
    outline: none;
}

.download-btn{
    background-color: #0078d4;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

.download-btn:hover{
    background-color: #005ba4;
}


/* Version Update */

.version-notify{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding: 8px 16px;
}

.version-update{
    text-align: center;
    width: 100%;
}

.version-notify .version-update p{
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0px;
}

.version-notify .version-update p #update-link{
    color:#4daafc;
    font-size: 14px;
    font-weight: 500;
}

.version-notify .version-close .close-update{
    background-color: transparent;
    border: none;
    margin-right: 4px;
    color: #9ba3b4;
    font-size: 16px;
}

/* hero banner */

.hero{
    margin-bottom: 48px;
    margin: 32px 100px 100px 100px;
    /* padding-left: 140px;
    padding-right: 140px;  */
}

.hero-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-banner .banner-leftside #tagline{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255, 0.04);
    border:1px solid rgb(255, 255, 255, 0.07);
    color: #9ba3b4;
    width: max-content;
    margin-bottom: 8px;
}

.hero-content{
    padding: 32px 40px;
    /* margin-bottom: 8px; */
    align-items: center;
}

.hero-content{
    padding: 32px 40px;
    align-items: center;
}

.hero-banner .banner-leftside .hero-content #tag{
    font-size: 56px;
    color: #e9eaeb;
    font-weight: 600;
    line-height: 70px;
    margin-top: 1rem;
    letter-spacing: -0.4px;
}

.hero-banner .banner-leftside .hero-content #btn-download{
    background-color: #0078d4;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #e9eaeb;
    padding: 12px 24px;
}

.hero-banner .banner-leftside .hero-content #btn-download:hover{
    background-color: #005ba4;
}


.hero-banner .banner-leftside .hero-content #subtext a{
    color: #4daafc;
    font-size: 14px;
    font-weight: 500;
}

.hero-banner .banner-leftside .hero-content #terms a{
    color: #4daafc;
    font-size: 11px;
    font-weight: 400;
}
.hero-banner .banner-leftside .hero-content #terms{
    font-size: 11px;
    font-weight: 400;
    margin-top: 0px;
}
.hero-banner .banner-rightside{
    width: 65%;
    text-align: center;
    padding: 0 40px;
}

.hero-banner .banner-rightside .hero-image{
    width: 800px;
}

/* divider */

.divider{
    border: 1px solid rgba(255, 255, 255, 0.12)
}

/* languages section */

.lang-section{
    margin: 32px 100px 100px 100px;
    
}
.la-sec-col-row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.la-sec-col-row .code-in-any-sec{
    padding: 32px 40px;
    width: 31%;
}
.la-sec-col-row .code-in-any-sec h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #e9eaeb;
}

.la-sec-col-row .code-in-any-sec p{
    font-size: 16px;
    font-weight: 500;

}


.la-sec-col-row .languages-option{
    display: grid;
    grid-template-columns: repeat(3,auto);
    row-gap: 8px;
    padding: 0px 40px;
    width: 69%;
    
}

.la-sec-col-row .languages-option div{
    display: flex;
    align-items: center;
}

.la-sec-col-row .languages-option div img{
    width: 40px;
}

code{
    font-family: monospace;
    color: #9ba3b4;
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
}

/* extensions section */

.extn-section{
    margin: 32px 100px 100px 100px;
    
}

.extn-sec-col-row{
    display: flex;
    justify-content: space-between;
}

.extn-sec-col-row .code-with-extn-sec{
    padding-top: 0;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    width: 31%;
}
.extn-sec-col-row .code-with-extn-sec h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    color: #e9eaeb;
}
.extn-sec-col-row .code-with-extn-sec p{
    font-size: 16px;
    font-weight: 500;
}

.extn-sec-col-row .code-with-extn-sec a, .more-extn a, .cop-feature a, .cop-head-def a{
    color: #4daafc;
}


.extn-sec-col-row .extension-options{
    display: grid;
    grid-template-columns: repeat(3,auto);
    row-gap: 16px;
    column-gap: 16px;
    padding: 0px 40px;
    width: 69%;
    mask-image: linear-gradient(to bottom, #0e0e0e 30%, transparent); /* Adjust colors as needed */
    position: relative; /* Necessary for z-index */
    z-index: 10;
    
}

.extn-sec-col-row .extension-options .extn-pack{
    display: flex;
    align-items: center;
    gap: 12px;
    /* align-self: flex-start; */
}

.extn-sec-col-row .extension-options div img{
    height: 40px;
    width: auto;
    align-self: flex-start;
    border-radius: 20px;
}

/* .extn-sec-col-row .extension-options .extensions{
    
} */

.extn-sec-col-row .extension-options .extensions h3{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-top: 2px;
    color: #e9eaeb;
}

.extn-sec-col-row .extension-options .extensions p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    line-height: 20px;
}

.extn-link{
    text-decoration: none;
    color: inherit;
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.04);
    border:1px solid rgb(255, 255, 255, 0.07);
    color: #9ba3b4;
}

.extn-link:hover{
    border-color: rgb(255, 255, 255, 0.2);
}

.more-extn{
    text-align: center;
    padding-left: 400px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}

/* Code with copilot */

.code-with-copilot{
    padding: 64px 0px;
    margin: 0px 100px;
}
.copilot-section{
    display: flex;
    /* align-items: center */
    justify-content: space-between;
}

.copilot-section .cop-cont-sec{
    padding: 0px 40px;
}

.copilot-section .cop-cont-sec .cop-content{
    height: max-content;
}

.copilot-section .cop-cont-sec .cop-content .cop-head-def{
    margin-bottom: 40px;
}

.copilot-section .cop-cont-sec .cop-content h2{
    margin-top:0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #e9eaeb;
    font-weight: 600;
}

.copilot-section .cop-cont-sec .cop-content p, a{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}
.copilot-section .cop-cont-sec .cop-content .cop-feature{
    margin-bottom: 24px;
}
    

.copilot-section .cop-img-sec {
    padding: 0px 40px;
}

.copilot-section .cop-img-sec img{
    width: 800px;
    align-items: center;
    justify-content: center;
}

/*  */
/* Code fully customized & Code anywhere: CSS of these sections is same as "Code with copilot" section, so class & id name is als0 same */
/*  */

/* Rich feature section */

.rich-feature{
    margin: 0px 100px;
}

.rich-feature .tagline-sec{
    margin: 32px 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rich-feature .tagline-sec h2{
    color: #e9eaeb;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    width: max-content;
}
.rich-feature .tagline-sec p{
    width: 500px;
    margin: 12px 0px 10px;
    font-size: 16px;
    font-weight: 500;
}

.rich-feature .feature-grid{
    padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 16px;
    float: left;
}

.rich-feature .feature-grid .rich-feature-elements{
    text-decoration: none;
    margin: 0;
    color: inherit;
    padding: 24px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.04);
    border:1px solid rgb(255, 255, 255, 0.07);
    color: #9ba3b4;
}

.rich-feature .feature-grid .rich-feature-elements:hover{
    border-color: rgb(255, 255, 255, 0.2) ;
}

.rich-feature .feature-grid .rich-feature-elements img{
    height: 24px;
    width: 24px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.07);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rich-feature .feature-grid .rich-feature-elements h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #e9eaeb;
}
.rich-feature .feature-grid .rich-feature-elements p{
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* Footer section */
.container{
    margin: 0px 100px;
    line-height: 20px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 96px 40px;
}

footer .social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

footer .social-links .socials{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .social-links .socials li{
    padding: 0px 20px 0px 0px;
}

footer .social-links .socials img.x-icon{
    max-width: 16px;
}

footer .social-links img{
    max-width: 24px;
}

footer .foot-row .links{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

footer .foot-row .links li{
    padding: 0px 20px 0px 0px;
}

footer .foot-row .links li a{
    text-decoration: none;
    color: #9ba3b4;
    font-size: 13px;
    font-weight: 500;
}

